<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
    <script src="https://cesium.com/downloads/cesiumjs/releases/1.92/Build/Cesium/Cesium.js"></script>
    <link href="https://cesium.com/downloads/cesiumjs/releases/1.92/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/satellite.js/4.1.3/satellite.js" integrity="sha512-5sJgjqyh3xd/dCqV3cZT4N0TZ9RQdAbzv7SNuFrNERHsW8c3FOivENr2+XcL0Qe3ykDbwA9/q476mmm/BwKOEw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js" integrity="sha512-1zzZ0ynR2KXnFskJ1C2s+7TIEewmkB2y+5o/+ahF7mwNj9n3PnzARpqalvtjSbUETwx6yuxP5AJXZCpnjEJkQw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
    <title>Title</title>
</head>
<body>

    <nav class="navbar display-3">
      <div class="container-fluid">
        <a class="navbar-brand darktext" href="/">
          <img height="80" src="{% static 'img/fersat.png' %}" alt="fersat">
            Satellite Visualization
        </a>
      </div>
    </nav>

    <div class="container mt-3">
        <div class="row">
            <div class="col-sm d-flex justify-content-center">
                <div id="cesiumContainer"></div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm d-flex justify-content-center">
                <button class="mx-3 btn btn-dark" onclick="displayViewFrom()">View from location</button>
                <button class="mx-3 btn btn-dark" onclick="displaySearchSatellites()">Add satellites</button>
                <button class="mx-3 btn btn-dark" onclick="displayRemoveSatellites()">Remove satellites</button>
                <button class="mx-3 btn btn-dark" onclick="image()">Export image</button>
                <button class="mx-3 btn btn-dark" onclick="hideAll()">X</button>
            </div>
        </div>
    </div>

     <div class="container mt-5 mb-5">
        <div id="viewFrom" class="hidden row justify-content-center">
            <div class="col-lg-8 text-center">
                <form>
                    {% csrf_token %}
                    <div class="narrowtxt">
                    <p>
                        {{ form.latdegrees.label_tag }}<br>
                        {{ form.latdegrees }} {{ form.latminutes }} {{ form.latseconds }}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.londegrees.label_tag }}<br>
                        {{ form.londegrees }} {{ form.lonminutes }} {{ form.lonseconds }}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                    </div>
                    <p>
                        {{ form.height.label_tag }}<br>
                        {{ form.height }}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.theta.label_tag }}<br>
                        {{ form.theta }}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.phi.label_tag }}<br>
                        {{ form.phi }}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                </form>

            <button class="mx-3 btn btn-dark" onclick="renderView()">Show view</button>
            <button class="mx-3 btn btn-dark" onclick="showCoordinates()">Show coordinates</button>
        </div>
        <div id="coordinates">
            <div class="row">
                <div class="col-sm d-flex justify-content-center">
                </div>
                <div class="col-sm d-flex justify-content-center">
                </div>
            </div>
            <div class="row">
                <div class="col-sm d-flex justify-content-center">
                </div>
                <div class="col-sm d-flex justify-content-center">
                </div>
            </div>
        </div>
    </div>


        <div id="searchSatellites" class="hidden container mt-3 mb-3">
            <div class="row">
                <div class="col-lg text-center">
                    <form>
                        <label for="search param" style="display : block">Enter satellite name:</label>
                        <input type="text" id="satname" name="satname">
                    </form>
                    <br/>
                    <button class="mx-3 btn btn-dark" onclick="getSatellites()">Search TLEs</button>
                </div>
            </div>
            <div class="row">
            <div class="col-lg text-center">
                <div id="data-container-search"></div>
            </div>
            </div>
            <div class="row">
            <div class="col-sm d-flex justify-content-center">
                <div id="pagination-container-search"></div>
            </div>
            </div>
        </div>

        <div id="removeSatellites" class="container mt-3 mb-3">
            <div class="row">
            <div class="col-lg text-center">
                <div id="data-container-remove"></div>
            </div>
            </div>
            <div class="row">
            <div class="col-sm d-flex justify-content-center">
                <div id="pagination-container-remove"></div>
            </div>
            </div>
        </div>
     </div>

</body>


<script>
    Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIwMGNjMGY5OC05MjVhLTQzNDEtYTdhOS00MjY0ZjhiZDU3ZGYiLCJpZCI6ODg0OTYsImlhdCI6MTY0OTI0MTk5Mn0.Ez-niTmFkzQtOJN3l3YBis9BAe0zGug1QLVE7gU7K0o'

    var cameraFrozen = false
    var satelliteOptions
    var polylineEntities = {}
    var polylineEntitiesKepler = {}
    var satelliteEntities = {}
    var satelliteObjects = {}
    var viewer

    defaultView()
    updatePositions()
    document.addEventListener('keypress', keypress)
    var toolbar = document.querySelector("div.cesium-viewer-toolbar")
    var helpButton = document.querySelector("span.cesium-navigationHelpButton-wrapper")
    const camDiv = document.createElement("span");
    camDiv.id = "cam"
    const newContent = document.createTextNode("Free camera");
    camDiv.appendChild(newContent);
    toolbar.prepend(camDiv)
    toolbar.classList.add("whitetext");
    hideAll()



    function keypress(e){
        const key = e.key
        if (key == "f" || key == "F"){
            if (cameraFrozen) unfreezeCamera()
            else freezeCamera()
        }
    }

    function freezeCamera(){
        viewer.scene.screenSpaceCameraController.enableRotate = false
        viewer.scene.screenSpaceCameraController.enableTranslate = false
        viewer.scene.screenSpaceCameraController.enableZoom = false
        viewer.scene.screenSpaceCameraController.enableTilt = false
        viewer.scene.screenSpaceCameraController.enableLook = false
        cameraFrozen = true
        $('#cam').html("Camera frozen")
    }

    function unfreezeCamera(){
        viewer.scene.screenSpaceCameraController.enableRotate = true
        viewer.scene.screenSpaceCameraController.enableTranslate = true
        viewer.scene.screenSpaceCameraController.enableZoom = true
        viewer.scene.screenSpaceCameraController.enableTilt = true
        viewer.scene.screenSpaceCameraController.enableLook = true
        cameraFrozen = false
        $('#cam').html("Free camera")
    }

    /* Function which initializes the main Cesium view */
    function defaultView(){
        viewer = new Cesium.Viewer('cesiumContainer', {
            terrainProvider: Cesium.createWorldTerrain(),
            homeButton: false,
            animation: false,
            fullscreenButton: false,
            baseLayerPicker: false,
            timeline: false,
            sceneModePicker: false,
            infoBox: false,
            geocoder: false
        })

        viewer.camera.setView({
            destination : Cesium.Cartesian3.fromDegrees(15.96, 45.81, 2000 * 1000)
        });
    }

    function displayViewFrom(){
        $('#viewFrom').removeClass("hidden")
        $('#searchSatellites').addClass("hidden")
        $('#removeSatellites').addClass("hidden")
    }

    function displaySearchSatellites(){
        $('#searchSatellites').removeClass("hidden")
        $('#viewFrom').addClass("hidden")
        $('#removeSatellites').addClass("hidden")
    }

    function displayRemoveSatellites(){
        $('#removeSatellites').removeClass("hidden")
        $('#searchSatellites').addClass("hidden")
        $('#viewFrom').addClass("hidden")

        console.log(satelliteEntities)
        $('#pagination-container-remove').pagination({
            dataSource: Object.keys(satelliteEntities),
            pageSize: 10,
            callback: function(data, pagination) {
                var html = simpleTemplatingRemove(data)
                $('#data-container-remove').html(html)
            }
        })
        $('#pagination-container-remove').pagination('show')
    }

    function hideAll(){
        $('#searchSatellites').addClass("hidden")
        $('#viewFrom').addClass("hidden")
        $('#removeSatellites').addClass("hidden")
    }

    /* Function which retrieves satellites from the API*/
    async function getSatellites(){
        const formData = new FormData(document.querySelectorAll('form')[1])
        const formProps = Object.fromEntries(formData)

        $('#pagination-container-search').pagination({
            dataSource: 'https://tle.ivanstanojevic.me/api/tle/?page-size=10&sort=name&sort-dir=asc&search=' + formProps.satname,
            locator: 'member',
            totalNumberLocator: function(response) {
                return response.totalItems
            },
            pageSize: 10,
            alias: {
                pageNumber : "page"
            },
            ajax: {
                beforeSend: function() {
                    $('#data-container-search').html('Loading TLEs ...');
                }
            },
            callback: function(data, pagination) {
                var html = simpleTemplatingSearch(data)
                satelliteOptions = data
                $('#data-container-search').html(html)
            }
        })
        $('#pagination-container-search').pagination('show')
    }


    /* Function which sets the view to the configuration specified in the form */
    async function renderView(){
        const formData = new FormData(document.querySelector('form'))
        const formProps = Object.fromEntries(formData);
        const lat = parseFloat(formProps.latdegrees) + parseInt(formProps.latminutes) / 60.0 + parseInt(formProps.latseconds) / 3600.0
        const lon = parseFloat(formProps.londegrees) + parseInt(formProps.lonminutes) / 60.0 + parseInt(formProps.lonseconds) / 3600.0
        const height = parseInt(formProps.height)
        const theta = parseFloat(formProps.theta)
        const phi = parseFloat(formProps.phi)



        viewer.camera.setView({
            destination : Cesium.Cartesian3.fromDegrees(lon, lat, height * 1000)
        });
        viewer.camera.lookUp(Cesium.Math.toRadians(theta))
        viewer.camera.lookRight(Cesium.Math.toRadians(phi))
        freezeCamera()
    }

    /* Function for displaying the coordinates of the content displayed in the window */
    function showCoordinates(){
        const point1 = new Cesium.Cartesian2(0, 0)
        const point2 = new Cesium.Cartesian2(800, 0)
        const point3 = new Cesium.Cartesian2(0, 800)
        const point4 = new Cesium.Cartesian2(800, 800)
        var rows = $('#coordinates').children().children()


        const points = [point1, point2, point3, point4]
        for (const [i, point] of points.entries()) {
            const cartesian = viewer.camera.pickEllipsoid(
                 point,
                 viewer.scene.globe.ellipsoid
            )

            if (cartesian != undefined){
                 const cg = Cesium.Cartographic.fromCartesian(cartesian)
                 var lon = Cesium.Math.toDegrees(cg.longitude)
                 var lat = Cesium.Math.toDegrees(cg.latitude)
                 rows[i].innerHTML = "lat:" + lat + " lon:" + lon
            }

            else {
                rows[i].innerHTML = "Corner not on globe"
            }
        }
    }

    function image(){
        viewer.render()
        var img = viewer.canvas.toDataURL("image/png")

        var xhr = new XMLHttpRequest()
        xhr.responseType = 'blob'
        xhr.onload = function () {
            var a = document.createElement('a')
            a.href = window.URL.createObjectURL(xhr.response)
            a.download = 'screenshot.png'
            a.style.display = 'none'
            document.body.appendChild(a)
            a.click()
            a.remove()
        };
        xhr.open('GET', img)
        xhr.send()
    }

    /* Function for adding the satellite with the given id to the scene */
    function addSatellite(id){
        for (const option in satelliteOptions){
            var sat = satelliteOptions[option]
            if (parseInt(id) == sat.satelliteId){
                var name = sat.name
                var tleLine1 = sat.line1
                var tleLine2 = sat.line2

                var satrec = satellite.twoline2satrec(tleLine1, tleLine2)
                var gmstog = satellite.gstime(new Date())
                var period = 1/satrec.no * 2 * Math.PI * 60

                const date = Cesium.JulianDate.fromDate(new Date());
                const positions = []
                const positionsKepler = []
                for (let i = 0; i < period + 2 * period/100; i += period/100){
                    const newDate = Cesium.JulianDate.addSeconds(date, i, new Cesium.JulianDate())
                    const jsDate = Cesium.JulianDate.toDate(newDate)

                    var gmst = satellite.gstime(jsDate)
                    const pv = satellite.propagate(satrec, jsDate)
                    var pvecef = satellite.eciToEcf(pv.position, gmst)
                    var pvecefkepler = satellite.eciToEcf(pv.position, gmstog)
                    var position = new Cesium.Cartesian3(pvecef.x * 1000, pvecef.y * 1000, pvecef.z * 1000)
                    var positionKepler = new Cesium.Cartesian3(pvecefkepler.x * 1000, pvecefkepler.y * 1000, pvecefkepler.z * 1000)
                    positions.push(position)
                    positionsKepler.push(positionKepler)
                }
                const polmaterial = new Cesium.PolylineOutlineMaterialProperty({
                    color : Cesium.Color.RED,
                    outlineColor : Cesium.Color.BLACK
                });

                const polmaterialKepler = new Cesium.PolylineOutlineMaterialProperty({
                    color : Cesium.Color.YELLOW,
                    outlineColor : Cesium.Color.BLACK
                });

                var polylineEntity = viewer.entities.add({
                    name: "orbit",
                    polyline: {
                        positions: positions,
                        material: polmaterial,
                        width: 2,
                    }
                })

                var polylineEntityKepler = viewer.entities.add({
                    name: "orbitKepler",
                    polyline: {
                        positions: positionsKepler,
                        material: polmaterialKepler,
                        width: 2,
                    }
                })

                var satelliteEntity = viewer.entities.add({
                    name: name,
                    position: positions[0],
                    point: {
                        pixelSize : 5,
                        color : Cesium.Color.WHITE
                    },
                    label : {
                        text : name,
                        font : '14pt monospace',
                        style: Cesium.LabelStyle.FILL_AND_OUTLINE,
                        outlineWidth : 2,
                        verticalOrigin : Cesium.VerticalOrigin.BOTTOM,
                        eyeOffset : new Cesium.Cartesian3(0.0, 0.0, -1000.0),
                        pixelOffset : new Cesium.Cartesian2(-40, -10)
                    }
                })

                satelliteObjects[name] = satrec
                polylineEntities[name] = polylineEntity
                polylineEntitiesKepler[name] = polylineEntityKepler
                satelliteEntities[name] = satelliteEntity

            }
        }
    }

    function removeSatellite(name){
        var polylineEntity = polylineEntities[name]
        var polylineEntityKepler = polylineEntitiesKepler[name]
        var satelliteEntity = satelliteEntities[name]

        viewer.entities.remove(polylineEntity)
        viewer.entities.remove(polylineEntityKepler)
        viewer.entities.remove(satelliteEntity)
        delete polylineEntities[name]
        delete polylineEntitiesKepler[name]
        delete satelliteEntities[name]

        $('#pagination-container-remove').pagination({
            dataSource: Object.keys(satelliteEntities),
            pageSize: 10,
            callback: function(data, pagination) {
                var html = simpleTemplatingRemove(data)
                $('#data-container-remove').html(html)
            }
        })
        $('#pagination-container-remove').pagination('show')

    }

    function updatePositions() {
        setInterval(()=> {
            var gmst = satellite.gstime(new Date())
            for (var sat in satelliteEntities){
                var satrec = satelliteObjects[sat]
                const pv = satellite.propagate(satrec, new Date())
                var pvecef = satellite.eciToEcf(pv.position, gmst)
                var position = new Cesium.Cartesian3(pvecef.x * 1000, pvecef.y * 1000, pvecef.z * 1000)
                satelliteEntities[sat].position = position
            }
        }, 1000)
    }

    /* Templating function for the pagination */
    function simpleTemplatingSearch(data) {
        var html = '<div class="container">'
        $.each(data, function(index, item){
            html += '<div class="row"> <div class="col-sm d-flex align-items-center justify-content-end">'
                + item.name
                + '</div><div class="col-sm d-flex justify-content-start"><button class="my-1 btn btn-sm btn-dark" id="'  + item.satelliteId + '" onClick="addSatellite(this.id)">+</button></div></div>';
        });
        html += '</div>'

        return html;
    }

    function simpleTemplatingRemove(data) {
        var html = '<div class="container">'
        $.each(data, function(index, item){
            html += '<div class="row"> <div class="col-sm d-flex align-items-center justify-content-end">'
                + item
                + '</div><div class="col-sm d-flex justify-content-start"><button class="my-1 btn btn-sm btn-dark" id="'  + item + '" onClick="removeSatellite(this.id)">X</button></div></div>';
        });
        html += '</div>'

        return html;
    }





</script>
</html>