<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="{% static '/css/main.css' %}" rel="stylesheet">
    <title>Title</title>
</head>
<body>

    <nav class="navbar display-3">
      <div class="container-fluid">
        <a class="navbar-brand darktext" href="/">
          <img height="80" src="{% static 'img/fersat.png' %}" alt="fersat">
            Satellite Visualization
        </a>
      </div>
    </nav>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <img class="rounded img-fluid" src="{% static 'img/scr.png' %}" alt="image1">
            </div>
        </div>
    </div>
</body>
</html>