.navbar {
    background: rgb(191,205,224);
    background: linear-gradient(175deg, rgba(191,205,224,1) 0%, rgba(254,252,253,1) 60%);
    color: #000505;
}

.navbar-brand {
  font-size: 2rem;
}


.darktext{
    color: #000505;
}

body {
  background-color: #FEFCFD;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.narrowtxt input{
    width: 100px;
}